<div class = 'navbar'>
  <div class="logo">
    <h1> <%= link_to root_path do %>
    <%= image_tag 'logo.png', alt: 'Logo' %>Awes⚙️me Garage
      <% end %>
    </h1>
  </div>

  <div class="navbar-tags">
    <%= link_to "H⛭me",cars_path %>
    <%= link_to "My Garage", favourites_path %>
  </div>
</div>
